@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.todo-container {
  background-color: #cd9fcc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-todo {
  font-size: 80px;
  font-weight: 700;
  color: #FAE8EB;
}

.description-todo {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  color: #FAE8EB;
}

.todo-wrap {
  background-color: #E4C2C6;
  padding: 30px 50px;
  border-radius: 20px;
}

.todo-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F6CACA;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.todo-input {
  display: flex;
  flex-direction: column;
}

.header-input {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 550;
  color: #847cbe;
}

input {
  height: 40px;
  width: 200px;
  padding: 0px 10px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: all .3s;
}

input:focus {
  transform: scale(1.1);
  border-radius: 0px;
}

input:hover {
  background-color: #cd9fcc;
  cursor: pointer;
}

.add {
  background-color: #847cbe;
  color: #FAE8EB;
  font-weight: 600;
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 5px;
  transition: all .3s;
  cursor: pointer;
}

.add:hover {
  background-color: #5144ae;
  transform: scale(1.1);
}

.add:active {
  background-color: #22196a;
}

.list-container {
  background-color: #F6CACA;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px 25px;
}

.list-btn {
  background-color: #847cbe;
  color: #FAE8EB;
  font-weight: 600;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  transition: all .3s;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 20px;
}

.active {
  background-color: #22196a;
}

.list {
  background-color: #cd9fcc;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #22196a;
}

.description {
  font-size: 14px;
  font-weight: 550;
  color: #6759d3;
}

.list-icon {
  display: flex;
  align-items: center;
}

.username {
  color: #FAE8EB;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer-todo {
  font-size: 17px;
  font-weight: 600;
  color: #FAE8EB;
}

.username:hover {
  color: #22196a;
}